@page
@model ContosoUniversity.Pages.Students.CreateModel
@{
    ViewData["Title"] = "Create Student";
}
<h1 class="display-6">Create Student</h1>
<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" aria-live="polite"></div>

    <div class="mb-3">
        <label asp-for="Input.FirstName" class="form-label"></label>
        <input asp-for="Input.FirstName" class="form-control" />
        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.LastName" class="form-label"></label>
        <input asp-for="Input.LastName" class="form-control" />
        <span asp-validation-for="Input.LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.EnrollmentDate" class="form-label"></label>
        <input asp-for="Input.EnrollmentDate" class="form-control" />
        <span asp-validation-for="Input.EnrollmentDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-outline-secondary ms-2" asp-page="./Index">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
